<form role="form" ng-submit="login(id,password)">
  <h2 class="form-signin-heading" id="tittle"><img src="images/logouru.png" alt="" id="logo" class="img-responsive" alt="Responsive image"></h2>
  <div class="form-group">
    <input type="number" class="form-control" ng-model='id' placeholder="Cédula">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" ng-model='password' placeholder="Clave">
  </div>
  <div class="alert alert-warning" id='alert' style="display:none">Revise la informacion...</div>
  <div class="alert alert-danger" style="display:none" id='alertErr'>Error Usuario o Contraseña Erronea intentelo de nuevo</div>
  <div id="mydiv" style="display:none" align="center">
    <img src="images/urumovil.gif"/>
</div>
  <button type="submit" class="btn btn-primary">Ingresar</button>
  
</form>