<h2 class="form-signin-heading" id="tittle"><img src="images/logouru.png" alt="" id="logo" class="img-responsive" alt="Responsive image"></h2>
<br>
<div class="alert alert-danger" id='alertDanger' style="display:none">Error De Conexion intentelo mas tarde</div>
<div id="mydiv" style="display:none" align="center">
    <img src="images/urumovil.gif"/>
</div>
 <div class="alert alert-danger" id='alertDanger' style="display:none">Error en Conexion intentelo mas tarde</div>
<div class="table-responsive">
<table class="table table-bordered">
<thead>
	<tr>
	<td>Lunes</td>
	<td>Martes</td>
	<td>Miercoles</td>
	<td>Jueves</td>
	<td>Viernes</td>
	<td>Sabado</td>
	</tr>
</thead>
	
	<tbody>
		<tr>
		<td ng-repeat="i in range(6) track by $index">
			{{setIndex($index)}}
			<table class="table table-striped">
				<tr ng-repeat="course in courses">
				<td ng-if="course.day == getIndex()">
					<span class="label label-default">{{course.name}}</span><br>
					<span class="label label-info">{{course.start}} - {{course.end}}</span><br>
					<span class="label label-primary">{{course.classroom}}</span>
				</td>			
				</td>
			</table>

		</td>
		</tr>
	</tbody>

</table>
</div>
<ul class="pager">
  <li class="previous"><a href="#/student">&larr; Volver</a></li>
</ul>




